*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: url('img/welcomebckgrd.jpg');
}
.container{
    
    text-align: center;
    height: 100vh;
    font-size:  18px;
    color: white;
    
}
.desc{
    text-align: center;
    margin-top: 6em;

}
.name{
    font-family:    bahnschrift light;
    color: aqua;
    font-weight: bold;
    font-size: 20px;
}
.my_pic{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 2em;
    margin-right: 8em;
    margin-left: 4em;
}
.myskills{
    text-align: left;
    margin-left: 20em;
   
}
.myskills > h3{
    text-align: center;
    margin-right: 18em;
    color:  indigo;
}
.myskills > h4{
    text-align: center;
    margin-right: 23em;
    color:  indigo;
}
.myskills > p{
    margin-left: 10em;
    font-size:  18px;
}
.social{
    margin-right: 10em;
    padding: 10px;
    margin-left: 3em;
}
.social > h3{
    text-align: center;
    margin-left: 1em;
}
.social > a, img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.underlined{
    width: 60%;
    background: coral;
    height: 1px;
    margin-left: 12em;
}

.navbar{
    padding: 0;
    margin: 0;
}
.navbar ul{
    list-style: none;
    width: 100%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.navbar ul li:hover{
    cursor: pointer;
    background: white;
    color: indigo;
    transition: 2s;
}
@media screen(max-width: 760px){
.container{
    width: 100%;
}
.desc{
    width: 100%;
}
.myskills{
    width: 100%;
}
}